body {
    font-family: "Helvetica Neve", Helvetica, Arial, sans-serif;
    font-size: 2em; /*100% = 16px */
    text-align: center;
}

h1 {
    font-family: 'Give You Glory', cursive;
    font-size: 5.625rem;
    width: 50px;
    margin: 0 auto;
}

P {
    font-family: 'Nunito', sans-serif;
}